<h1>Productos:</h1>
<ul>
  {{#each product}}
    <li>{{this.title}} - {{description}} - $ {{price}} </li>
    <button>Agregar al carrito</button>
  {{/each}}
</ul>

<a href="/realtimeproducts">Listado en tiempo real</a>
<a href="/">Volver a Home</a>
<hr />

{{#if hasPrevPage}}
  <a href="/products?page={{prevPage}}">Página anterior</a>
{{/if}}

{{#if hasNextPage}}
  <a href="/products?page={{nextPage}}">Página siguiente</a>
{{/if}}

<a href="/products?page={{totalPages}}">Última página</a>