<h1>Productos</h1>

{{#if welcomeMessage}}
    <p>{{welcomeMessage}}</p>
{{/if}}

<ul>
  {{#each products}}
    <li>{{this.title}} - {{description}} - $ {{price}} </li>
    <button>Agregar al carrito</button>
  {{/each}}
</ul>

<a href="/realtimeproducts">Listado en tiempo real</a>
<a href="/">Volver a Home</a>
<hr />

{{#if hasPrevPage}}
  <a href="/products?page={{prevPage}}">Pág. Ant.</a>
{{/if}}

{{#if hasNextPage}}
  <a href="/products?page={{nextPage}}">Pág. Sig.</a>
{{/if}}

<a href="/products?page={{tPages}}">Últ. Pág.</a>