<h2>Perfil {{usuario.first_name}}</h2>
<hr>
<p>first_name: <strong>{{usuario.first_name}}</strong></p>
<p>last_name: <strong>{{usuario.last_name}}</strong></p>
<p>age: <strong>{{usuario.age}}</strong></p>
<p>Correo electrónico: <strong>{{usuario.email}}</strong></p>